.cards-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
	width: 100%;
	padding-top: 4rem;
}

.card-wrap {
	max-width: 340px;
	height: auto;
	margin: 0 1.5rem 0 1.5rem;
	background-color: #ececec;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	margin-bottom: 2rem;
}

.card-wrap:hover {
	transform: scale(1.05);
	transition: 400ms ease-in-out;
}

.card-img {
	border-radius: 10px 10px 0 0;
}

.card-body {
	height: 170px;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
	text-align: center;
}

#h5 {
	color: black;
	font-weight: 500;
	margin-bottom: 0.6rem;
}

.card-body p {
	margin-top: 0rem;
	font-size: 1rem;
	color: #434c58;
}

#card-created-by {
	height: 2rem;
	font-size: 0.8rem;
	padding-left: 1rem;
	color: #292929;
}

.card-overflow {
	height: 12rem;
	overflow: hidden;
}

.card-style {
	border-radius: 10px;
	cursor: pointer;
}

.card-style:hover {
	transform: scale(1.01);
	transition: all 0.2s ease-in-out;
}

.card-img-top {
	transform: scale(1);
	transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
	transform: scale(1.1);
}

@media (max-width: 1200px) {
	.cards-container {
		max-width: 730px;
	}
}

@media (max-width: 730px) {
	.cards-container {
		flex-direction: column;
	}
}
