.cards-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
	width: 100%;
	padding-top: 3rem;
}

.card-wrap {
	max-width: 340px;
	height: auto;
	margin: 0 auto 0 auto;
	background-color: #e4e4e4;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	margin-bottom: 2rem;
}

.card-wrap:hover {
	transform: scale(1.05);
	transition: 400ms ease-in-out;
}

.card-img {
	border-radius: 10px 10px 0 0;
}

.card-body {
	height: auto;
	padding: 0.9rem 1rem 0 1rem;
	text-align: center;
}

#h5 {
	color: black;
	font-weight: 500;
	margin-bottom: 0.6rem;
}

.card-body p {
	margin-top: 0rem;
	font-size: 1rem;
	color: #434c58;
}

#card-created-by {
	height: 2rem;
	font-size: 0.8rem;
	padding-left: 1rem;
	color: #292929;
}

.card-overflow {
	height: 11rem;
	overflow: hidden;
}

.card-style {
	border-radius: 10px;
	cursor: pointer;
}

.card-style:hover {
	transform: scale(1.01);
	transition: all 0.2s ease-in-out;
}

.card-img-top {
	transform: scale(1);
	transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
	transform: scale(1.1);
}

@media (min-width: 428px) {
	.card-wrap {
		margin: 0 auto 2rem auto;
	}

	.cards-container {
		flex-direction: row;
		max-width: 750px;
	}
}

@media (min-width: 1400px) {
	.card-wrap {
		margin: 0 auto 2rem auto;
	}

	.cards-container {
		flex-direction: row;
		max-width: 1100px;
	}
}
