.footer-h6 {
	font-size: 0.8rem;
}

.footer-p {
	font-size: 0.8rem;
	text-align: center;
	margin-bottom: 0rem;
}

.footer-container {
	background-color: #161b22;
	height: 13rem;
	margin-top: 4rem;
}

.footer-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
}

.footer-links-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 3rem;
	color: #fff;
}

.footer-master-tittle {
	margin: 0.5rem auto 0 auto;
	font-size: 1.5rem;
	text-align: center;
}

.footer-social-media {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5rem;
	margin: auto;
}

.footer-links-group {
	display: flex;
	flex-direction: row;
}
.footer-social-icons-links {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 1.3rem;
	margin-right: 0.5rem;
}

.footer-social-icons-links:hover {
	color: #d8ab23;
	transition: 0.3s ease-out;
}

.footer-link {
	display: flex;
	flex-direction: row;
}

.footer-link-p {
	font-size: 1rem;
	margin: 0 1rem 0.1rem 0;
}
