#section1-container {
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(26, 29, 32, 1) 84%);
	background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(26, 29, 32, 1) 84%);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(26, 29, 32, 1) 84%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1a1d20",GradientType=1);
}

#section1 {
	margin-top: 0rem;
}

.section1-img {
	margin: 3rem auto 0 auto;
	width: 240px;
	height: auto;
	margin-top: 3rem;
}

.section1-img:hover {
	transform: scale(1.03);
	transition: 500ms ease-in-out;
}

@media (min-width: 428px) {
	.section1-img {
		width: 280px;
	}
}

@media (min-width: 600px) {
}

@media (min-width: 800px) {
}

@media (min-width: 1000px) {
}

@media (min-width: 1200px) {
}
